*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  /* background-image: url('https://images.pexels.com/photos/1004665/pexels-photo-1004665.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  text-transform: capitalize;
  height: h00vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

.weather-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input ,::placeholder {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #62dad4;
}

.weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}