*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
   background: linear-gradient(to left, rgb(219, 127, 127) 0%, rgb(62, 189, 163) 100%);
  text-transform:capitalize;
  height: h00vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.weather-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 62%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input ,::placeholder {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #cf4a6b;
}


